@import "tailwindcss";

.auth-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 100px auto;
  gap: 12px;
}
.auth-form input,
.auth-form select,
.auth-form button {
  padding: 10px;
  font-size: 16px;
}
